<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <h1>Forgot Password</h1>
    <form action="/forgot-password" method="POST">
      <label for="email">Email: </label>
      <input
        type="email"
        name="email"
        placeholder="Write your email"
        required />
      <br /><br />
      <button type="submit">Submit</button>
      <p>Back to the login page?? <a href="/login">Login</a></p>
    </form>
  </body>
</html>
